<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Site Map</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="">Home</a></li>
          <li><a href="/projects/" class="">Projects</a></li>
          <li><a href="/posts/" class="">Blog</a></li>
          <li><a href="/services/" class="">Services</a></li>
          <li><a href="/about/" class="">About</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow me</h5>
        <ul class="list-unstyled">
            <li><a href="https://linkedin.com/in/joecotellese" class="text-muted"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://jawns.club/@JoeCotellese" class="text-muted"><i class="bi bi-mastodon"></i> Mastodon</a></li>
        </ul>
      </div>
    </div>
    <div>
      <p class="text-muted">Links to 3rd party sites may be compensated through affiliate commissions. Hey, a product guy needs to eat.</p>
    </div>
  </div>
</footer>
