<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .IsHome }}
  <title>Joe Cotellese - Executive SaaS Product Manager</title>
  {{ else }}
  <title>{{ .Title }}</title>
  {{ end }}
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex" /> 
  {{ end }}
  {{ if .Params.nofollow }}
  <meta name="robots" content="nofollow" /> 
  {{ end }}
  <meta name="description" content="{{ .Description }}">
  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
  {{ $style := resources.Get "scss/styles.scss" | toCSS  $options | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
  

  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  {{ partial "schemas/schema_Global.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ if not .Params.images }}
  <meta property="og:image" content="/img/defaultOgImage.png">
  {{ end }}
  {{ partial "googleanalytics.html" }}
  {{ partial "plausibleanalytics.html"}}
  {{ partial "clarity.html" .  }}
</head>
