<!-- Header -->
<header class="d-flex justify-content-center py-3">
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a aria-label="Home" href="/" class="nav-link {{ if eq .Permalink .Site.BaseURL }} active{{ end }}"><i class="bi bi-house-fill"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="/projects/" class="nav-link{{ if in .Permalink "/projects/" }} active{{ end }}">Projects</a>
      </li>
      <li class="nav-item"><a href="/posts/" class="nav-link {{ if in .Permalink "/posts/" }} active{{ end }}">Blog</a></li>
      <li class="nav-item"><a href="/services/" class="nav-link {{ if in .Permalink "/services/" }} active{{ end }}">Services</a></li>
      <li class="nav-item"><a href="/about/" class="nav-link {{ if in .Permalink "/about/" }} active{{ end }}">About</a></li>
    </ul>
  </nav>
</header>
