<h2>Stay Ahead in Product Management!</h2>
<p>Ready to elevate your product management game? Join our community of passionate professionals and be the first to receive exclusive insights, tips, and strategies directly in your inbox. <strong>Subscribe now</strong> to our newsletter and ensure you're always in the loop with the latest product management trends and wisdom bombs!</p>

<form action="https://mailsrv.getclipdish.com/subscribe" method="POST" accept-charset="utf-8" 
class="form-inline align-items-center gy-2 gx-3">
	<div class="row">
        <div class="col">
            <label class="visually-hidden" for="signupForm">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="name" id="name" placeholder="Name">
        </div>
        <div class="col">
            <label class="visually-hidden" for="email">email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="col">
            <div style="display:none;">
                <label for="hp">HP</label>
                <input type="text" class="form-control" name="hp" id="hp">
            </div>
            <input type="hidden" name="list" value="bxPPevD892yo37slmOm89205NA">
            <input type="hidden" name="subform" value="yes">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </div>
</form>

