<div class="col d-flex align-items-start">
    <i
      class="bi bi-bullseye text-body-secondary flex-shrink-0 me-3 fs-1"
    ></i>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Strategy</h3>
      <p>Product strategy is the plan and approach for developing and positioning a product in the market to achieve business goals and meet customer needs.</p>
    </div>
</div>
