<div class="col d-flex align-items-start">
    <i
      class="bi bi-person-add text-body-secondary flex-shrink-0 me-3 fs-1"
    ></i>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Team Building</h3>
      <p>Paragraph of text beneath the heading to explain the heading.</p>
    </div>
</div>
