<div class="col d-flex align-items-start">
    <i
      class="bi bi-kanban text-body-secondary flex-shrink-0 me-3 fs-1"
    ></i>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Project Delivery</h3>
      <p>Project delivery is the process of completing a project and delivering the results to the client or stakeholders. It involves planning, executing, monitoring, and controlling project tasks to ensure they are completed on time, within budget, and to the required quality standards. </p>
    </div>
</div>