<div class="col d-flex align-items-start">
    <i
      class="bi bi-lightbulb text-body-secondary flex-shrink-0 me-3 fs-1"
    ></i>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Coaching</h3>
      <p>Coaching is the process of providing guidance, feedback, and support to individuals and teams in order to improve their performance and achieve their goals. It can help build leadership skills, enhance collaboration, and promote personal and professional growth. Coaching can be customized to the needs of individuals or teams and can be delivered in a variety of formats, such as one-on-one sessions, group workshops, or online training.</p>
    </div>
</div>
