<div class="col d-flex align-items-start">
  <i
    class="bi bi-universal-access-circle text-body-secondary flex-shrink-0 me-3 fs-1"
  ></i>
  <div>
    <h3 class="fw-bold mb-0 fs-4">User Experience</h3>
    <p>
      UI and UX design is the art and science of creating intuitive and engaging digital interfaces that enhance the user's experience and achieve business goals.
    </p>
  </div>
</div>
</div>