<div class="col d-flex align-items-start">

  <i
    class="bi bi-pie-chart text-body-secondary flex-shrink-0 me-3 fs-1"
  ></i>
  <div>
    <h3 class="fw-bold mb-0 fs-4">Data analytics</h3>
    <p>Product analytics is the practice the process of collecting, analyzing and interpreting data to improve product development and inform business decisions.</p>
  </div>
</div>
