<div class="col d-flex align-items-start">
  <i class="bi bi-map text-body-secondary flex-shrink-0 me-3 fs-1"></i>
  <div>
    <h3 class="fw-bold mb-0 fs-4">Roadmap</h3>
    <p>Product roadmaps are high-level plans that outline the vision, goals, and features of a product over time to align stakeholders and guide development efforts.</p>
  </div>
</div>
