<div class="col d-flex align-items-start">
    <i
      class="bi bi-binoculars text-body-secondary flex-shrink-0 me-3 fs-1"
    ></i>
    <div>
      <h3 class="fw-bold mb-0 fs-4">Product Discovery</h3>
      <p>Product discovery is the iterative process of exploring, testing, and validating ideas to create a product that meets customer needs and solves business problems.</p>
    </div>
</div>