<div class="col d-flex align-items-start">
  <i
    class="bi bi-pencil text-body-secondary flex-shrink-0 me-3 fs-1"
  ></i>
  <div>
    <h3 class="fw-bold mb-0 fs-4">Requirements Gathering</h3>
    <p>Requirements gathering is the process of defining and documenting the needs and expectations of stakeholders for a product or project.</p>
  </div>
</div>
