{{ define "main" }}
<main>
  <div class="container">
    <h1>Oh no! Looks like this feature didn’t make it past the MVP stage…</h1>
    <p>It seems the roadmap got a little wobbly! The page you’re seeking might still be in the ‘ideation’ phase or maybe it’s lost in the land of unmet KPIs. But don’t worry—you can always pivot!</p>
    <p>If you're lost, click on the menu bar at the top to find your way.</p>
  </div>
</main>
{{ end }}