{{ define "main"}}
<main>
  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-1 font-weight-bold title mb-4">Hi, I'm Joe!</h1>
      <h2>Builder of products and teams.</h2>
      <ul class="col-md-4 list-unstyled d-flex">
        <li class="">
          <a aria-label="LinkedIn Profile" href="https://www.linkedin.com/in/joecotellese/" target="_blank">
            <i class="bi bi-linkedin" style="font-size: 2em"></i>
          </a>
        </li>
        <!-- Mastodon -->
        <li class="ms-3">
          <a aria-label="Mastodon Profile" href="https://jawns.club/@JoeCotellese" target="_blank">
            <i class="bi bi-mastodon" style="font-size: 2em"></i>
          </a>
        </li>
        <!-- ClipDish -->
        <li class="ms-3">
          <a aria-label="ClipDish website" href="https://getclipdish.com" target="_blank">
            <i class="bi bi-link" style="font-size: 2em"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <section>
    <div class="container">
      <div id="bio-row">
        <!-- two columns column 1 is a headshot, column 2 is bio text -->
        <div class="row">
          <div class="col-md-2">
            {{ $headshot := resources.Get "/images/headshot.jpg" }}
            {{ $resizedHeadshot := $headshot.Resize "400x" }}
            <img
              src="{{$resizedHeadshot.RelPermalink}}"
              class="img-fluid rounded mb-4"
              alt="headshot of Joe Cotellese"
            />
          </div>
          <div class="col-md-10">
            {{ .Content }}
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
  </section>
  <!-- Blog posts -->
  <!-- iterate over hugo blog posts -->
  <section class="py-3">
    <div class="container">
      <h3 class="mb-4">The Software Product Management Blog</h3>
      <div class="row">
        {{ range first 4 (where .Site.RegularPages "Section" "==" "posts") }}
        <!-- Card 1 -->
        <div class="col-md-3">
          <div class="card mb-4">
            {{ with .Params.featuredImage }}
            {{ $image := resources.Get . }}
              {{ if $image }}
                <img src="{{ $image.RelPermalink }}" class="card-img-top" alt="...">
              {{ end }}
            {{ end }}  
            <div class="card-body">
              <h4 class="card-title">{{ .Title }}</h4>
              <p class="card-text">
                {{ if .Description}}
                  {{ .Description }}
                {{ else }}
                  {{ .Summary }}
                {{ end }}
              </p>
              <a href="{{ .RelPermalink }}" class="btn btn-outline-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <a href="/posts/" class="btn btn-secondary btn-sm">View all product posts</a>
    </div>
    <!-- container -->
  </section>
  <!-- Projects -->
  <!-- iterate over hugo projects -->
  <section class="py-3">
    <div class="container">
      <h3 class="mb-4">Discover Innovative Solutions and Proven Expertise</h3>
      <div class="row">
        {{ $projects := where .Site.RegularPages "Section" "==" "projects" }} 
        {{ $sortedProjects := sort ($projects) ".Params.end_date" "desc" }}
        {{ range first 4 $sortedProjects }}
        <div class="col-md-3">
          <div class="card mb-4">
            {{ $logoPath := printf "images/logos/%s.png" .File.BaseFileName }}
            {{ $logoResource := resources.Get $logoPath }}
            
            {{ if $logoResource}}
            {{ $resizedWebp := $logoResource.Resize "400x webp" }}
            {{ $resized := $logoResource.Resize "400x" }}
            <picture>
              <source srcset="{{ $resizedWebp.RelPermalink }}" type="{{ $resizedWebp.MediaType }}">
              <source srcset="{{ $resized.RelPermalink }}" type="{{ $resized.MediaType }}">
              <img src="{{ $resized.RelPermalink }}" class="card-img-top" alt="{{ .Title }} logo">
            </picture>
            {{else}}
            {{ $defaultLogoPath := "images/logos/default.png" }}
            {{ $defaultLogoResource := resources.Get $defaultLogoPath }}          
            <img
              src="{{ $defaultLogoResource.RelPermalink}}"
              class="card-img-top"
              alt="default image"
            />
            {{ end }}
            <div class="card-body">
              <h4 class="card-title">{{ .Title }}</h4>
              <p class="card-text">{{ .Summary }}</p>
              <a href="{{ .RelPermalink }}" class="btn btn-outline-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        {{ end }} {{/* end range */}}
      </div>
      <a href="/projects/" class="btn btn-secondary btn-sm">View all projects</a>
    </div>
  </section>
</main>
{{ end }}
