{{ define "main" }}
<main class="container">
  <h1>{{ .Title | humanize }}</h1>
  <div>{{.Content}}</div>
  <div class="row">
    {{ range (.Paginator 9).Pages }}
      <div class="col-md-4">
        <div class="card mb-4">
          {{ with .Params.featuredImage }}
          {{ $image := resources.Get . }}
            {{ if $image }}
              <img src="{{ $image.RelPermalink }}" class="card-img-top" alt="...">
            {{ end }}
          {{ end }}
          <div class="card-body">
            <h4 class="card-title">{{if .Params.draft}}Draft:{{end}}{{ .Title }}</h4>
            <p class="card-text">
              {{ if .Description}}
                {{ .Description }}
              {{ else }}
                {{ .Summary }}
              {{ end }}
            </p>
            <a href="{{ .RelPermalink }}" class="btn btn-outline-primary btn-sm">Read More</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="d-flex justify-content-center py-3">
  {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ end }}
