/*! Tophat `Wandoo` Bootstrap 4.3.1 theme */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
// $font-family-base:Nunito;
@import url(https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,700);
// $headings-font-family:Comfortaa;

$primary:#dc3545;
$secondary:#CACACA;
$success:#015668;
$danger:#06648C;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#ececec;
$dark:#222222;

/*! Import Bootstrap 4 variables */
@import "bootstrap/functions";
@import "bootstrap/variables";

$gray-300:#e0e0e0;
@import "bootstrap/bootstrap";

// Add SASS theme customizations here..
blockquote {
    border-left: 5px solid $primary;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
}