{{ define "main" }}
<main class="container">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ $pages := (.Paginator 20).Pages }}
  <div class="row">
    {{ range sort $pages ".Params.end_date" "desc" }}
    <div class="col-md-4">
        <div class="card mb-4">
          {{ $logoPath := printf "images/logos/%s.png" .File.BaseFileName }}
          {{ $logoResource := resources.Get $logoPath }}
          
          {{ if $logoResource}}
          {{ $resizedWebp := $logoResource.Resize "400x webp" }}
          {{ $resized := $logoResource.Resize "400x" }}
          <picture>
            <source srcset="{{ $resizedWebp.RelPermalink }}" type="{{ $resizedWebp.MediaType }}">
            <source srcset="{{ $resized.RelPermalink }}" type="{{ $resized.MediaType }}">
            <img src="{{ $resized.RelPermalink }}" class="card-img-top" alt="{{ .Title }} logo">
          </picture>
          {{else}}
          {{ $defaultLogoPath := "images/logos/default.png" }}
          {{ $defaultLogoResource := resources.Get $defaultLogoPath }}          
          <img
            src="{{ $defaultLogoResource.RelPermalink}}"
            class="card-img-top"
            alt="default image"
          />
          {{end}}
        <div class="card-body">
            <h4 class="card-title">{{ .Title }}</h4>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .RelPermalink }}" class="btn btn-outline-primary btn-sm">Read More</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="d-flex justify-content-center py-3">
  {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ end }}
