{{ define "main" }}
<main class="container">
  <article>
    <section class="text-center">
      <div class="row justify-content-center">
        <div class="col-md-4">
          {{ $logoPath := printf "images/logos/%s.png" .File.BaseFileName }}
          {{ $logoResource := resources.Get $logoPath }}
          {{ if $logoResource}}
          <img
            src="{{ $logoResource.RelPermalink}}"
            class="img-fluid mb-8"
            alt="company logo"
          >
          {{else}}            
          <h1 class="mb-4">{{ with .Params.blogTitle }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>
          {{end}}
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-md-12">
          <h2>About</h2>
          {{ .Content}}
        </div>
      </div>
    </section>
    {{ if eq .Section "projects"}}
    <section>
      <h2 class="pb-2 border-bottom">Focus areas</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        {{ range $index, $tag := .Params.tags }}
          {{ $templateName := printf "partials/tag-%s.html" $tag }}
          {{ partial $templateName . }}
        {{ end }}
      </div>
    </section>
    {{ end }}
  </article>
</main>
{{end}}
