{{ define "main" }}
<main class="container">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
    <h2>Get blog updates</h2>
    <p>Never miss a product management insight from me.</p>
    <form action="https://mailsrv.getclipdish.com/subscribe" method="POST" accept-charset="utf-8" 
class="form-inline align-items-center gy-2 gx-3">
	<div class="row">
        <div class="col">
            <label class="visually-hidden" for="signupForm">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="name" id="name" placeholder="Name">
        </div>
        <div class="col">
            <label class="visually-hidden" for="email">email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="col">
            <div style="display:none;">
                <label for="hp">HP</label>
                <input type="text" class="form-control" name="hp" id="hp">
            </div>
            <input type="hidden" name="list" value="bxPPevD892yo37slmOm89205NA">
            <input type="hidden" name="subform" value="yes">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </div>
</form>

  </p>
  <div class="row">
    {{ range (.Paginator 9).Pages }}
      <div class="col-md-4">
        <div class="card mb-4">
          {{ with .Params.featuredImage }}
          {{ $image := resources.Get . }}
            {{ if $image }}
              <img src="{{ $image.RelPermalink }}" class="card-img-top" alt="...">
            {{ end }}
          {{ end }}
          <div class="card-body">
            <h4 class="card-title">{{if .Params.draft}}Draft:{{end}}{{ .Title }}</h4>
            <p class="card-text">
              {{ if .Description}}
                {{ .Description }}
              {{ else }}
                {{ .Summary }}
              {{ end }}
            </p>
            <a href="{{ .RelPermalink }}" class="btn btn-outline-primary btn-sm">Read More</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="d-flex justify-content-center py-3">
  {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ end }}
