{{ define "main" }}
<main class="container">
  <article>
    <section class="text-center">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="mb-4">{{ with .Params.blogTitle }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          {{ with .Params.featuredImage }}
          {{ $image := resources.Get . }}
            {{ if $image }}
              <img src="{{ $image.RelPermalink }}" class="img-fluid mb-3" alt="...">
            {{ end }}
          {{ end }}
          {{ if eq .Section "posts"}}
          <ul class="list-inline">
            <li class="list-inline-item">
              <i class="text-primary bi-calendar me-2"></i>{{ .PublishDate.Format "2 Jan, 2006" }}
            </li>
          </ul>
          {{ end }}
        </div>
      </div>
    </section>
    <section>
      <div class="row justify-content-center">
        <div class="col-md-8">
          {{ .Content}}
          {{ if eq .Section "posts"}}
          {{ partial "partials/signup.html" . }}
          {{ end }}  
        </div>
      </div>
    </section>
    {{ if eq .Section "projects"}}
    <section>
      <h2 class="pb-2 border-bottom">Focus areas</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        {{ range $index, $tag := .Params.tags }}
          {{ $templateName := printf "partials/tag-%s.html" $tag }}
          {{ partial $templateName . }}
        {{ end }}
      </div>
    </section>
    {{ end }}
  </article>
</main>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="joecotellese" data-description="Support me on Buy me a coffee!" data-message="Enjoying this article? Let me know with a cup of coffee!" data-color="#0F81C7" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
{{end}}
